<div class="h-20 flex text-sm bg-gray-50 rounded-md">
    <div class="w-52 min-w-52 flex items-center bg-gray-100 pl-4 rounded-l-md">
        <p class="font-semibold">{{ password.name }}</p>
    </div>

    <div class="flex items-center px-4 gap-2 overflow-x-auto">
        <div class="w-60 min-w-60 h-14 flex items-center justify-between bg-gray-300 px-4 rounded-md box-content">
            <span class="text-gray-900 font-semibold">Password</span>

            <div class="flex items-center gap-3">
                <p class="text-gray-900 pt-1">**********</p>

                <button class="w-16 h-6 text-xs text-white bg-gray-900 rounded-md transition hover:bg-gray-900/80"
                        id="copy-password-button"
                        data-password="{{ password.password }}">Copy</button>
            </div>
        </div>

        <div class="w-60 min-w-60 h-14 flex flex-col justify-center bg-gray-300 px-4 rounded-md box-content">
            <span class="text-gray-900 font-semibold">Username</span>
            <p class="text-gray-800 truncate">{{ password.username|default:"..." }}</p>
        </div>

        <div class="w-60 min-w-60 h-14 flex flex-col justify-center bg-gray-300 px-4 rounded-md box-content">
            <span class="text-gray-900 font-semibold">Email</span>
            <p class="text-gray-800 truncate">{{ password.email|default:"..." }}</p>
        </div>

        <div class="w-60 min-w-60 h-14 flex flex-col justify-center bg-gray-300 px-4 rounded-md box-content">
            <span class="text-gray-900 font-semibold">Site</span>

            {% if password.site %}
                <a class="underline text-blue-500 truncate"
                   href="{{ password.site }}"
                   target="_blank">{{ password.site }}</a>
            {% else %}
                <p class="text-gray-800">...</p>
            {% endif %}
        </div>
    </div>

    <div class="w-36 min-w-36 flex items-center justify-center gap-1 bg-gray-100 rounded-r-md">
        <button class="text-xs text-yellow-900 bg-yellow-400 px-2 py-1 rounded-md transition hover:bg-yellow-300/90">
            Edit
        </button>

        <button unicorn:click="display_modal"
                class="text-xs text-red-900 bg-red-400 px-2 py-1 rounded-md transition hover:bg-red-300/90">
            Delete
        </button>
    </div>

    {% if displayed_modal %}
        <div class="fixed top-0 left-0 w-full h-screen flex items-center justify-center bg-black/20 z-50">
            <div class="bg-white rounded-md shadow-lg">
                <div class="flex items-center justify-between p-4 border-b">
                    <h3 class="text-xl font-bold">Warning</h3>

                    <button unicorn:click="hide_modal"
                            class="w-8 h-8 flex items-center justify-center rounded-lg hover:bg-gray-100">
                        <svg class="w-5"
                             fill="none"
                             stroke-width="1.5"
                             stroke="currentColor"
                             viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

                <div class="p-4 border-b border-gray-200">
                    <p>
                        You are about to delete the password <strong>{{ password.name }}</strong>. Are you sure you want to proceed?
                    </p>
                </div>

                <div class="flex items-center gap-2 p-4">
                    <button unicorn:click="delete_password({{ password.id }})"
                            unicorn:loading.attr="disabled"
                            unicorn:loading.class="opacity-50 cursor-not-allowed"
                            unicorn:loading.class.remove="hover:bg-red-500/90"
                            class="w-28 flex items-center justify-center gap-1 text-white bg-red-500 py-2.5 rounded-md transition-colors hover:bg-red-500/90"
                            id="delete-password-{{ password.id }}">
                        Delete

                        <svg unicorn:target="delete-password-{{ password.id }}"
                             unicorn:loading.class.remove="hidden"
                             class="hidden w-5 animate-spin"
                             fill="none"
                             stroke-width="1.5"
                             stroke="currentColor"
                             viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                        </svg>
                    </button>

                    <button unicorn:click="hide_modal"
                            class="flex items-center justify-center gap-1 text-white bg-gray-900 px-5 py-2.5 rounded-md transition-colors hover:bg-gray-900/90">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
</div>
