{# Password table component #}

<div class="w-full mt-8 px-4">
    <div class="container text-gray-900 mx-auto">
        <div class="flex items-center justify-between">
            <h1 class="text-2xl font-bold">Passwords</h1>

            <button class="text-xs text-white bg-gray-900 p-2 rounded-md transition-colors hover:bg-gray-900/90">
                Add password
            </button>

        </div>

        <div class="mt-4 rounded-md shadow-md overflow-x-auto">
            <table class="w-full text-left">
                <thead class="text-xs text-white bg-gray-900 uppercase">
                    <tr>
                        <th class="px-6 py-3">Name</th>
                        <th class="px-6 py-3">Password</th>
                        <th class="px-6 py-3">Username</th>
                        <th class="px-6 py-3">Email</th>
                        <th class="px-6 py-3">Site</th>
                        <th class="px-6 py-3">Actions</th>
                    </tr>
                </thead>

                <tbody class="text-sm">
                    {% for password in user_passwords %}
                        <tr class="odd:bg-gray-50 even:bg-gray-100 border-b">
                            <th class="px-6 py-4 whitespace-nowrap">{{ password.name }}</th>

                            <td class="px-6 py-4">
                                <div class="flex items-center gap-5">
                                    <p>**********</p>

                                    <button class="w-[50px] text-xs text-gray-700 bg-gray-300 py-0.5 rounded-md transition-colors hover:bg-gray-300/80"
                                            id="copy-password-button"
                                            data-password="{{ password.password }}">Copy</button>
                                </div>
                            </td>

                            <td class="px-6 py-4">{{ password.username|default:"..." }}</td>
                            <td class="px-6 py-4">{{ password.email|default:"..." }}</td>

                            {% if password.site %}
                                <td class="px-6 py-4">
                                    <a class="underline text-blue-500"
                                       href="{{ password.site }}"
                                       target="_blank">{{ password.site }}</a>
                                </td>
                            {% else %}
                                <td class="px-6 py-4">...</td>
                            {% endif %}

                            <td class="px-6 py-4">
                                <div class="flex items-center gap-1">
                                    <button class="text-xs text-yellow-900 bg-yellow-400 px-1.5 py-1 rounded-md transition-colors hover:bg-yellow-300/90">
                                        Edit
                                    </button>

                                    <button class="text-xs text-red-900 bg-red-400 px-1.5 py-1 rounded-md transition-colors hover:bg-red-300/90">
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
