{# Base page template #}

{% load compress %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        {# djlint:off #}
        <title>password-manager | {% block title %}Manage your passwords with ease{% endblock title %}</title>
        {# djlint:on #}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="Password, Management" />
        <meta name="description"
              content="{% block description %}Manage your passwords with ease{% endblock description %}" />

        {% compress css %}
            <link rel="stylesheet" href="{% static 'css/output.css' %}">
        {% endcompress %}
    </head>

    <body>
        {% block body %}
            <span>Hey developer! You forget to add the content of this page 🫣</span>
        {% endblock body %}
    </body>
</html>
